<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>GetTweets</servlet-name>
  	<servlet-class>controller.GetTweets</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetTweetsElasticSearch</servlet-name>
  	<display-name>GetTweetsElasticSearch</display-name>
  	<description></description>
  	<servlet-class>controller.GetTweetsElasticSearch</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>GetTweets</servlet-name>
  	<url-pattern>/gettweets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetTweetsElasticSearch</servlet-name>
  	<url-pattern>/GetTweetsElasticSearch</url-pattern>
  </servlet-mapping>
  
  
</web-app>
