<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	
	<context-param>
		<param-name>googleMapAPIKey</param-name>
		<param-value>YOUR-MAP-API-KEY</param-value>
	</context-param>
	<context-param>
		<param-name>elasticSearchURL</param-name>
		<param-value>PUT_YOUR_ELASTICSEARCH_URL:PORT_HERE(https://www.example.com:443)</param-value>
	</context-param>

	<servlet>
		<servlet-name>GetTweets</servlet-name>
		<servlet-class>controller.GetTweets</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetTweetsElasticSearch</servlet-name>
		<display-name>GetTweetsElasticSearch</display-name>
		<description></description>
		<servlet-class>controller.GetTweetsElasticSearch</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetTweetsScrollAPI</servlet-name>
		<display-name>GetTweetsScrollAPI</display-name>
		<description></description>
		<servlet-class>controller.GetTweetsScrollAPI</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetTweets</servlet-name>
		<url-pattern>/gettweets</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetTweetsElasticSearch</servlet-name>
		<url-pattern>/GetTweetsElasticSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetTweetsScrollAPI</servlet-name>
		<url-pattern>/GetTweetsScrollAPI</url-pattern>
	</servlet-mapping>
	


</web-app>
